@model Academy_MyPortfolio_MVC.Models.TblMessage
@{
    ViewBag.Title = "MessageDetail";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}
<br />
<h2 style="padding-left:20px">Mesaj İçeriği</h2>
<br />
<table class="table table-bordered">
        <tr>
            <th>Ad Soyad: </th>
            <td>@Model.Name</td>
        </tr>
        <tr>
            <th>Email : </th>
            <td>@Model.Email</td>

        </tr>
        <tr>
            <th>Mesaj : </th>
            <td>@Model.MessageContent</td>
        </tr>
</table>

<a href="/Message/AllMessages" class="btn btn-info" style="display: block; width: fit-content; margin: 0 auto;">Mesajlara Geri Dön</a>
<br />

