@model List<Academy_MyPortfolio_MVC.Models.TblAbout>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}
<br />
<h2 style="padding-left:20px">Hakkımda Sayfası</h2>
<br />

<table class="table table-bordered">

    <thead>
        <tr>
            <th>Resim</th>
            <th>Başlık</th>
            <th>Açıklama</th>
            <th>Cv Durumu</th>
            <th>Sil</th>
            <th>Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img src="@item.ImageUrl" style="width:50px;height:50px"></img></td>
                <td>@item.Title</td>
                <td>@item.Description</td>

                @if (item.CvUrl == null)
                {
                    <td>CV Eklenmemiş</td>
                }
                else
                {
                    <td>CV Eklenmiş</td>
                }

                <td><a href="/AdminAbout/DeleteAbout/@item.AboutId" class="btn btn-outline-danger">Sil</a></td>
                <td><a href="/AdminAbout/UpdateAbout/@item.AboutId" class="btn btn-outline-warning">Güncelle</a></td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    <a href="/AdminAbout/AddAbout" class="btn btn-outline-success">Yeni Ekle</a>
</div>
<br />

