@model Academy_MyPortfolio_MVC.Models.TblAbout
@{
    ViewBag.Title = "UpdateAbout";
    Layout = "~/Views/AdminLayout/Layout.cshtml";
}

<br />
<h2 style="padding-left:20px">Hakkımda Güncelleme</h2>
<br />

<form method="post" enctype="multipart/form-data">
    <br />

    @Html.HiddenFor(x=>x.AboutId)

    <div class="text-center">
        <label><strong>Kullanılan Resim</strong></label>
        <br />
        <img src="@Model.ImageUrl" style="width:70px;height:100px" />
    </div>

    <label><strong>Yeni Resim Yükle</strong></label>
    <input type="file" name="ImageFile" class="form-control" />
    <br />

    <label><strong>Giriş Başlığı</strong></label>
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })

    <label><strong>Açıklama</strong></label>
    @Html.TextAreaFor(x => x.Description, 3, 10, new { @class = "form-control" })


    <label><strong>Cv Yükle</strong></label>
    <input type="file" name="PdfFile" class="form-control" />
    <br />

    <div class="text-center">
        <button class="btn btn-success">Kaydet</button>
    </div>
    <br />
</form>
